# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Software\Program\ProgramCompilerWorkspace\Java\LocalProjectWorkspace\IdeaWorkSpace\MyProject\MLRFM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
